#root {

    margin: 0 auto;
    padding: 2rem;
    text-align: center;

}

ul {

    margin-top: 1.5em;
    padding: 12px;
    background: rgb(24, 24, 24);
    border-radius: 4px;
    text-align: start;
    list-style: none;

}

ul > p {

    text-align: center;

}